*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
}

/* Header Section */

.logo-wrapper{
  display: flex;
  align-items: center;
}

.header-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e5e7eb;
  align-items: center;
}

.nav-items{
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-item a{
  text-decoration: none;
  color: #6b7280;
}

.logo-icon{
  color: #16a34a;
  font-size: 30px;
}

.primary-btn{
  display: inline-block;
  color: white;
  background-color: #16a34a;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 7px;
}


/* Hero Section */
.hero-container{
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-basis: 50%;
}

.hero-text-tag{
  background-color: #e5e7eb;
  color: #4b5563;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 20px;
}

.hero-heading{
  font-size: 50px;
}

.hero-paragraph{
  color: #4b5563;
}

.hero-lists{
  list-style: none;
  color: #4b5563;
}

.hero-list{
  display: flex;
  align-items: center;
  gap: 5px;
}
.hero-list i{
  color: #16a34a;
}

.outlined-btn{
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #e5e7eb;
}

.hero-btn-wrapper{
  display: flex;
  gap: 20px;
}

.hero-image{
  width: 500px;
  height: 400px;
  border-radius: 10px;
}


/* How FreshBasket Market Works Section */

.how-it-works{
  background-color: #e0f2f1;
  padding: 50px 20px;
}

.how-it-works-title{
  text-align: center;
}

.how-it-works-title h3{
  font-size: 32px;
  font-weight: 500;
}

.how-it-works-title p{
  color: #4b5563;
}

.how-it-works-card-container{
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.how-it-works-cards{
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
}

.how-it-works-cards h4{
  font-weight: 600;
  font-size: 20px;
}

.card-icon{
  display: flex;
  background-color: #e0f2f1;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #059669;
}

/* Everthing you need section */

.everything-you-need{
  padding: 50px 20px;
}

.everything-you-need-title{
  text-align: center;
}

.everything-you-need-title h3{
  font-size: 32px;
  font-weight: 500;
}

.everything-you-need-title p{
  color: #4b5563;
}

.everything-you-need-card-container{
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.everything-you-need-card{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.everything-you-need-card h4{
  font-weight: 500;
  font-size: 20px;
}

.everything-you-need-card p{
  color: #4b5563;
}

.everything-you-need-card ul{
  color: #4b5563;
  list-style: none;
}

/* Ready to simplify your grocery shopping */

.ready-to-simplify{
  background-color: #e0f2f1;
  padding: 50px 20px;
}

.ready-to-simplify-container{
  background-color: #16a34a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:50px;
  gap: 10px;
  border-radius: 8px;
}

.ready-to-simplify-container h3{
  font-size: 32px;
  font-weight: 500;
  color: white;
}

.ready-to-simplify-container p{
  color: white;
}

.ready-to-simplify-container a{
  text-decoration: none;
  color: black;
  display: inline-block;
  background-color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 7px;
}

.footer{
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer hr{
  padding-bottom: 35px;
  opacity: 0.3;
}

.footer-container{
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-container p{
  color: #4b5563;
  font-size: 14px;
}